@import "ui-variables";

.serialmonitor .terminalsettings {

  height: 3em;
  background: inherit;

  .btn {
    &.tab-button {
      border: 0;
      padding: 0 0 0 0;
      height: 3em;
      width: 10vw;
      border-radius: 0;

      &.selected {
        background: @input-background-color;
        border: 0;
      }
    }
  }
}
